.form-input {

    display: grid;
    grid-template-columns: min-content 20px minmax(200px, 100%);
    font-size: 1.25rem;
    margin: 0 auto;
    margin-bottom: 1.8rem;
    max-width: 520px;
    
    @media only screen and (max-width: 690px) {
        width: 90%;
        margin-bottom: 1.1rem;
    }
    @media only screen and (max-width: 480px) {
        grid-template-columns: min-content 10px minmax(200px, 100%);
    }
    
    label {
        align-self: center;
    }
    input {
        grid-column: 3/4;
        font-size: 1.25rem;
        font-weight: 400;
        background: none;
        border: none;
        border-bottom: solid 1px var(--text-dark);
        padding: 0.5rem;
        // max-width: 420px;
        outline: none;
        color: var(--text-dark);
        line-height: 1.8;
        @media only screen and (max-width: 690px) {
            padding-right: 2.75rem;
        }
    }
}

body input:autofill,
body input:-webkit-autofill {
    background-color: rgba(70, 90, 126, 0.4) !important;
    color: #fff !important;
    box-sizing: border-box;
    // border: -30px solid darkorange;
    // background-color: rgb(17, 198, 147) !important;
    background-image: none !important;
    // color: -internal-light-dark(rgb(147, 54, 54), white) !important;
}