.attend-form-menu {

    display: grid;
    grid-auto-flow: column;
    align-content: end;
    position: relative;
    padding-top: 1.25rem;
    margin-top: auto;
    min-width: 300px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 80%;
        transform: translateX(-50%);
        border-top: solid 3px var(--gray-light);
    }

    button {
        background: none;
        color: var(--text-dark);
        font-size: 1rem;
        max-height: 80px;
        border: none;
        outline: none;
        cursor: pointer;

        // @media only screen and (max-width: 690px) {
        //     font-size: 0.75rem;
        // }
        
        &:focus {
            outline: solid 1px var(--text-dark);
        }
        &:active, 
        &:target  {
            // border-top: solid 3px var(--gray-light);
        }
    }
    
    li.active > button {
    
        &:focus {
            outline: none;
        }
        &:active,
        &:target,
        &:focus-visible {
            background: rgba(80, 80, 80, 0.138);
        }
    } 
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        display: grid;
        grid-auto-flow: column;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
        @media only screen and (max-width: 690px) {
            grid-column: 2/3;
        }
        @media only screen and (max-width: 525px) {
            grid-column: 1/4;
            margin-bottom: 0.5rem;
        }
    }
    
    
    &__button {
        
        display: grid;
        grid-template-rows: 1fr 2rem;
        font-size: 0.875rem;
        
        & > img {
            justify-self: center;
        }
        
        
        body &--past,
        body &--next {
            text-decoration: underline;
            display: grid;
            grid-auto-flow: column;
            // align-items: center;
            max-height: 3rem;
            width: fit-content;
            padding: 1rem;
            align-items: center;
            min-width: 14ch;
            
            & > img {
                width: 8.5px;
            }

            @media (max-width: 860px) {
                min-width: auto;
            }

            @media only screen and (max-width: 690px) {
                grid-row: 2/3;
                width: 87px;
            }
        }
        
        &--past {
            & > img {
                margin-right: 0.75rem;
                rotate: 180deg;
                justify-self: end;
            }
            
            padding-right: 2rem;
            justify-self: start;
            @media only screen and (max-width: 690px) {
                grid-column: 1/2;
            }
        }
        &--next {
            padding-left: 2rem;
            justify-self: end;
            & > img {
                margin-left: 0.75rem;
            }
            @media only screen and (max-width: 690px) {
                grid-column: 3/4;
                // justify-self: end;
            }

            &.more-info {
                padding-bottom: 3rem;
                position: relative;
                & > img {
                    position: absolute;
                    justify-self: center;
                    align-self: end;
                    padding-top: 0.5rem;
                    bottom: 0.25rem;
                    rotate: 90deg;
                }
            }
        }
    }

    &__button-wrapper {
        
        cursor: pointer;
        position: relative;
        opacity: 0.5;

        &.active,
        &.active::before {
            opacity: 1;
        }
        
        &::before {
            content: "";
            position: absolute;
            border-top: solid var(--gray) 3px;
            inset: 0;
            width: 30px;
            margin: 0 auto;
            top: -1.25rem;
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }

        &  span,
        &  img {
            pointer-events: none;
            user-select: none;
            position: relative;
            
            @media only screen and (max-width: 690px) {
                width: 100%;
                max-width: 40px;
                min-width: 30px;
            }
        }
        
        & span {
            @media only screen and (max-width: 690px) {
                grid-row: 2/3;
            }
        }
    }

    .save-text {
        &-container {
            overflow: hidden;
            width: max-content;
            height: max-content;
            margin: 0 auto;
            margin-top: auto;
            position: absolute;
            top: -2.3rem;
            justify-self: center;
        }
        &-content {
            background: var(--text-dark);
            max-width: 15ch;
            margin: 0 auto;
            color: #fff;
            padding: 0.25rem 1.25rem;
            position: relative;
            bottom: -2rem;
            text-align: center;
        }
    }
}