
.radio-group {
    border: none;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
    &__button {
        
        
        label {
            
            
            &>span {
                background-image: url('../../../assets/radio-check-button.svg');
                background-repeat: no-repeat;
                background-position: center bottom;
                cursor: pointer;
                display: block;
                padding-top: 1.5rem;
                padding-bottom: 2.75rem;
                text-align: center;

                &:hover {
                    opacity: 0.5;
                }

                &:active {
                    opacity: 1;
                }
            }
        }

        input[type=radio] {

            clip: rect(0 0 0 0);
            border: 0;
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        label input[type=radio]:checked+span{
            background-image: url('../../../assets/radio-check-button-checked.svg');
        }
    }

    // input[type="radio"] {

    // }

    &__error-message {
        position: absolute;
    }
}