@import '../layouts';

.header {

    width: 100%;
    min-height: 500px;
    // aspect-ratio: 1 / 0.5;
    height: 95vh;
    max-height: 850px;
    
    
    @include desktop-up {
        max-height: 1080px;
    }
    
    
    &__fixed-wrapper {

        background-image: url('../assets/header-image-jj.jpeg');
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: 67% -2vw;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -3;
        min-height: 500px;
        
        @include desktop-up {
            max-height: 1080px;
        }
        
        @media (max-width: 1340px) {
            background-size: 125%;
        }
        @media (max-width: 1120px) {
            background-size: 180%;
        }
        
        @include laptop {
        }

        @include tablet {
            background-size: 235%;
            background-position: 67% 1vw;
        }
        
        @media (max-width: 570px) {
            background-size: 280%;
            background-position: 63% -2vw;
        }
    }

    &__content {

        display: grid;
        height: 100%;
        // outline: solid red;

        
        h1 {
            justify-self: start;
            align-self: self-end;
            position: relative;
            font-variant: lining-nums;
            padding-bottom: 10rem;
            
            display: grid;
            line-height: 1.3;
            text-align: center;

            
            @include desktop-up {
                margin-left: -7rem;
            }
            
            @media (max-width: 1540px) {
                margin-left: 0;
            }

            @media (max-width: 1200px) {
                padding-bottom: calc(30rem - 25vw);
            }
            
            @include tablet {
                justify-self: center;
            }
            
            @media (max-width: 768px) {
                padding-bottom: calc(25rem - 25vw);
            }

            @media (max-width: 570px) {
                padding-bottom: calc(25rem - 25vw);
            }
            
            span {
                filter: drop-shadow(0px 0px 54.1px #000000);
                position: relative;
                z-index: 1;

                sub {
                    font-size: 0.75em;
                    position: relative;
                    bottom: 0.35em;
                }
            }

            hr {
                border: none;
                height: 2px;
                background-color: #fff;
                margin: 20px 20%;
            }
            
            &::after {
                content: "";
                display: block;
                position: absolute;
                inset: 0;
                z-index: 0;
                background: rgba(0, 0, 0);
                outline: solid rgba(0, 0, 0) 3rem;
                filter: blur(57.85px);
                opacity: 0.5;
            }
            
            @include laptop {
            }
        }
    }
}

