@import '../layouts';

.where {
    width: 100%;
    min-height: 800px;
    background-color: var(--white);
    position: relative;
    z-index: -2;
    display: grid;
    color: var(--text-dark);
    font-size: 1.25rem;
    padding-top: 20rem;
    position: relative;
    z-index: 1;

    @include mobile(){
        padding-top: 12rem;
    }

    .container {
        h2 {
            @media (max-width: 1380px) {
                text-align: center;
            }
        }
    }

    &__text-content {
        display: grid;
        grid-template-columns: minmax(260px, 1fr) 10vw minmax(300px, 485px) 1fr;
        column-gap: 5%;
        padding-bottom: 20rem;
            
        @media (max-width: 1380px) {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            justify-content: center;
            margin: 0 auto;
        }

        & > p {
            max-width: 260px;

            @media (max-width: 1380px) {
                margin: 2rem auto;
                text-align: center;
            }
            @include tablet {
                max-width: 25ch;
            }
        }
        
    }

    .content {

        grid-column: 3/4;
        max-width: 485px;

        display: grid;
        grid-template-columns: 140px auto;
        grid-template-rows: 4.5rem 4.5rem;
        column-gap: 1rem;

        @media (max-width: 1380px) {
            grid-row: 2/3;
            grid-column: 1/2;
            margin: 0 auto;
            margin-top: 2rem;
        }

        @media (max-width: 690px) {
            grid-auto-flow: row;
            grid-template-columns: auto;
            grid-template-rows: auto;
            text-align: center;
            row-gap: 1rem;
        }
        
        &__item-container {
            // max-width: 295px;
            margin-bottom: 1.5rem;


        @media only screen and (max-width: 350px) {
                font-size: 14px;
            }
        }

        &__pappa-contact {
            grid-column: 1/2;
            grid-row: 1/3;
            
            & > img {
                width: 100%;
                border-radius: 50%;
            }
            
            @media (max-width: 690px) {
                grid-column: 1/2;
                grid-row: 1/2;
                max-width: min-content;
                min-width: 150px;
                justify-self: center;
            }
        }
        
        &__top-text {
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 0;
            
            @media (max-width: 690px) {
                grid-column: 1/2;
                grid-row: 2/3;
                max-width: 330px;
            }
            
        }
        
        &__item-container {
            grid-column: 2/3;
            grid-row: 2/3;
            
            @media (max-width: 690px) {
                grid-column: 1/2;
                grid-row: 3/4;
                max-width: 330px;
                justify-self: center;
            }
        }
        
        .item {
            display: grid;
            grid-auto-flow: column;
            width: min-content;
            text-wrap: nowrap;
            column-gap: 0.4rem;
            align-items: center;
            justify-content: center;
            font-style: italic;
            width: 100%;
            height: 30px;
            grid-template-columns: 17px auto 1fr;
            
            &:nth-child(2) {
                margin-top: 0.65rem;
            }

            svg {
                justify-self: center;
                width: max-content;
                min-width: 10px;
            }

            p {
                width: max-content;
                margin: 0;
            }
            
            a {
                width: max-content;
                color: var(--text-dark);
                font-weight: bold;
                justify-self: end;
            }

        }
    }

    &__decoration-branch {
        position: absolute;
        right: 0;
        top: 250px;
        overflow: hidden;
        padding-left: 55px;
        z-index: -1;

        
        img {
            width: 100%;
            rotate: -45deg;
            margin-right: -20px;
            
            @media (max-width: 980px) {
                width: calc(21vw);
                position: relative;
                right: -50px;
            }

            @include mobile() {
                width: 31vw;
            }
        }
    }

    &__church-image {
        z-index: 2;
        @include mobile(){
            overflow: hidden;
            margin-top: -10rem;
        }
        img {
            width: 100%;
            @include mobile(){
                width: 130%;
                margin-left: -16%;
            }
        }
    }
    &__map-image {
        margin-top: -10px;
        display: grid;
        @include mobile(){
            overflow: hidden;
        }
        
        &::before {
            content: "";
            height: 55px;
            width: 100%;
            background: linear-gradient(0deg, rgba(156, 162, 164, 0) 0%, #000000 100%);
            opacity: 0.48;
            grid-row: 1/2;
            grid-column: 1/2;
        }
        
        
        
        &_main {
            grid-row: 1/2;
            grid-column: 1/2;
            width: 100%;

            @include mobile(){
                width: 200%;
                margin-left: -51%;
            }
        }

        &_content {
            grid-row: 1/2;
            grid-column: 1/2;
            justify-self: center;
            align-self: start;
            position: relative;
            z-index: 1;
            background-image: url(../assets/pointer-content-container.png);
            background-repeat: no-repeat;
            display: grid;
            min-width: 110px;
            min-height: 210px;
            grid-template-rows: 40px 0.5fr 1fr;
            margin-top: -30px;     
            @include mobile() {
                margin-top: -50px;     
                grid-template-rows: 20px 0.5fr 0.5fr;
                min-width: 100px;
                min-height: 150px;
                background-size: cover;
            }
            
            &:hover span, 
            &:hover img {
                color: var(--white);
                opacity: 0.5;
            }
            
            span {
                grid-row: 2/3;
                justify-self: center;
                color: var(--white);
                align-self: center;
                border-bottom: solid 1px;
                font-size: 1.25rem;
                @include mobile() {
                    font-size: 1.1rem;
                    align-self: end;
                }
            }
            
            img {
                grid-row: 3/4;
                justify-self: center;
                @include mobile() {
                    max-width: 30px;
                    align-self: center;
                }
            }
        }
        
        &_location-pin-green {
            grid-row: 1/2;
            grid-column: 1/2;
            position: relative;
            min-width: 10px;
            min-height: 21px;
            z-index: 1;
            justify-self: center;
            align-self: center;
            top: 10px;
            @include mobile() {
                top: 0px;
                width: 10px;
            }
        }

        &_sub-link {
            color: var(--text-dark);
            padding: 0.5rem;
            font-size: 1rem;
            
            &:hover {
                color: var(--text-dark);
                opacity: 0.5;
            }
        }
    }
}