@import '../../layouts';

.attend-form {
    --ocerlap-top: 3rem;

    background: var(--white);
    min-width: 250px;
    max-width: 700px;
    margin: 0 auto;
    min-height: 835px;
    padding: 5rem;
    padding-top: var(--ocerlap-top);
    position: relative;
    // top: calc((var(--ocerlap-top) * -1) - 1.5rem);
    top: 4rem;
    border-radius: 5px;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr;
    
    @media (max-width: 860px) {
        min-height: 735px;
        padding: 2rem;
    }
    @media (max-width: 525px) {
        padding: 1.5rem 1rem;
        min-height: 635px;
    }
    
    @include mobile-small() {
        padding: 1.1rem;
    }

    &__modal {

        position: fixed;
        width: calc(100vw + 10px);
        height: 100vh !important;
        background: rgba(16, 16, 16, 0.53);
        inset: 0;
        z-index: 999;
        display: grid;
        justify-content: center;
        align-content: center;
        
        button {
            height: 3rem;
            background: var(--text-dark);
            color: #fff;
            border: none;
            cursor: pointer;
        }
        
        &-twint {

            &--instructions {

                background-image: url(../../assets/twint-background.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 270px;
                height: 270px;
                min-width: 270px;
                display: flex;
                
                &-text {
                    background: #0000007a;
                    color: var(--white);
                    display: block;
                    margin-top: auto;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 2;
                    backdrop-filter: blur(10px);
                    
                    ol {
                        padding: 0 1.7rem;
                    }

                    li > span {
                        padding: 0.35rem;
                        border-radius: 7px;
                        margin-left: 0.5rem;
                        opacity: 0.9;
                        font-weight: 600;
                        color: var(--text-dark);
                        background: #fff;
                        position: relative;
                        cursor: copy;


                        &.show-copied-message::after {
                            content: "copied number";
                            position: absolute;
                            background: var(--deep-green);
                            color: #fff;
                            font-size: 12px;
                            font-weight: 300;
                            display: block;
                            padding: 0.15rem;
                            padding-right: 0.6rem;
                            padding-left: 0.3rem;
                            z-index: -1;
                            top: -1.4px;
                            left: -5.2rem;
                            text-wrap: nowrap;
                            animation: moveAndWait 3s forwards;
                        }
                    }
                    @keyframes moveAndWait {
                        0% {
                            left: 0;
                        }

                        10% {
                            left: -82%;
                        }

                        50% {
                            left: -82%;
                        }

                        60% {
                            left: 0;
                        }

                        100% {
                            left: 0;
                        }
                    }
                }
            }

            &--backdrop {
                background: rgba(255, 0, 0, 0);
                width: 100vw;
                height: 100vh;
                position: fixed;
                z-index: -1;

            }
        }
    }
        
    &__content {
        display: grid;
        grid-row: 1 / -1;
        // outline: solid;
        grid-template-rows: min-content min-content max-content;

        color: var(--text-dark);

        & > * {
            height: fit-content;
        }

        & > h2 {
            text-align: center;

            &.header-text--gift {
                @media (max-width: 690px) {
                    letter-spacing: -0.1px;
                    line-height: 0.8;
                }
            }
        }
        
        & > p {
            text-align: center;
            font-weight: 300;
            margin: 0;
            padding: 0;
            // margin-top: -10px;
            // margin-bottom: 1rem;
            width: 41ch;
            justify-self: center;
            font-size: 1.2rem;
            @media only screen and (max-width: 690px) {
                width: 37ch;
            }
        }

        & > img {
            justify-self: center;
            align-self: end;
            margin-bottom: -1rem;
            margin-top: 2rem;
            display: none;
        }
    }

    &--wrapper {
        position: relative;
    }
    
    &__branch {
        
        
        &--right,
        &--left {
            position: absolute;
            // rotate: 10deg;
            z-index: 0;
            display: inline;
            transform: translateX(50%) translateY(50%);
            top: 0;
        }
        
        
        &--right {
            left: 40%;
            top: 15%;
        }
        &--left {
            left: -25%;
        }
    }
    
    &--section-food {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 620px;
        
        @media (max-width: 525px) {
            height: auto;
        }
        
        .form-multi-input {
            &:nth-child(2) {
                margin-top: -2rem;

                @media (max-width: 525px) {
                    margin-bottom: 0;
                }
            }
        }

        & > p {
            text-align: center;
            
            &:nth-child(1) {
                margin-top: 2rem;
            }
        }

        .content {
    
            grid-column: 3/4;
            max-width: 485px;
    
            display: grid;
            max-width: min-content;
            grid-template-columns: auto;
            grid-template-rows: 1fr;
            margin-bottom: 2rem;
    
            @media (max-width: 1380px) {
                grid-row: 2/3;
                grid-column: 1/2;
                margin: 0 auto;
                margin-bottom: 2rem;
            }
    
            @media (max-width: 690px) {
                grid-auto-flow: row;
                grid-template-columns: auto;
                grid-template-rows: auto;
                text-align: center;
                // row-gap: 1rem;
            }
    
            &__item-container {
                // max-width: 295px;
                margin-bottom: 1.5rem;
    
    
                @media only screen and (max-width: 350px) {
                    font-size: 14px;
                }
            }
    
            &__top-text {
                grid-column: 2/3;
                grid-row: 1/2;
                margin: 0;
    
                @media (max-width: 690px) {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    max-width: 330px;
                }
    
            }
    
            &__item-container {
                grid-column: 2/3;
                grid-row: 2/3;
    
                @media (max-width: 690px) {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    max-width: 330px;
                    justify-self: center;
                }
            }
    
            .item {
                display: grid;
                grid-auto-flow: column;
                width: min-content;
                text-wrap: nowrap;
                column-gap: 0.4rem;
                align-items: center;
                justify-content: center;
                font-style: italic;
                width: 100%;
                height: 30px;
                grid-template-columns: 17px auto 1fr;
    
                &:nth-child(2) {
                    margin-top: 0.65rem;
                }
    
                svg {
                    justify-self: center;
                    width: max-content;
                    min-width: 10px;
                }
    
                p {
                    width: max-content;
                    margin: 0;
                }
    
                a {
                    width: max-content;
                    color: var(--text-dark);
                    font-weight: bold;
                    justify-self: end;
                }
    
            }
        }

        &::-webkit-scrollbar {
            width: 3px;
        }
        
        &::-webkit-scrollbar-track {
        background: #d4d4d45d; 
        }
        
        &::-webkit-scrollbar-thumb {
        background: #88888853; 
        }
        
        &::-webkit-scrollbar-thumb:hover {
        background: #2c2c2c51; 
        }
    }

    &--section-program {
        margin-top: 2rem;
    }
}

