@import '../../layouts';

.attend-form {
    --ocerlap-top: 3rem;

    background: var(--white);
    min-width: 250px;
    max-width: 700px;
    margin: 0 auto;
    min-height: 835px;
    padding: 5rem;
    padding-top: var(--ocerlap-top);
    position: relative;
    // top: calc((var(--ocerlap-top) * -1) - 1.5rem);
    top: 4rem;
    border-radius: 5px;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr;
    
    @media (max-width: 860px) {
        min-height: 735px;
        padding: 2rem;
    }
    @media (max-width: 525px) {
        padding: 1.5rem 1rem;
        min-height: 635px;
    }
    
    @include mobile-small() {
        padding: 1.1rem;
    }
    
    &__content {
        display: grid;
        grid-row: 1 / -1;
        // outline: solid;
        grid-template-rows: min-content min-content max-content;

        color: var(--text-dark);

        & > * {
            height: fit-content;
        }

        & > h2 {
            text-align: center;

            &.header-text--gift {
                @media (max-width: 690px) {
                    letter-spacing: -0.1px;
                    line-height: 0.8;
                }
            }
        }
        
        & > p {
            text-align: center;
            font-weight: 200;
            margin: 0;
            padding: 0;
            // margin-top: -10px;
            // margin-bottom: 1rem;
            width: 41ch;
            justify-self: center;
            font-size: 1.1rem;
            @media only screen and (max-width: 690px) {
                // width: 31ch;
            }
        }

        & > img {
            justify-self: center;
            align-self: end;
            margin-bottom: -1rem;
            margin-top: 2rem;
            display: none;
        }
    }

    &--wrapper {
        position: relative;
    }
    
    &__branch {
        
        
        &--right,
        &--left {
            position: absolute;
            // rotate: 10deg;
            z-index: 0;
            display: inline;
            transform: translateX(50%) translateY(50%);
            top: 0;
        }
        
        
        &--right {
            left: 40%;
            top: 15%;
        }
        &--left {
            left: -25%;
        }
    }
    
    &--section-food {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 620px;
        
        @media (max-width: 525px) {
            height: auto;
        }
        
        .form-multi-input {
            &:nth-child(2) {
                margin-top: -2rem;

                @media (max-width: 525px) {
                    margin-bottom: 0;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 3px;
        }
        
        &::-webkit-scrollbar-track {
        background: #d4d4d45d; 
        }
        
        &::-webkit-scrollbar-thumb {
        background: #88888853; 
        }
        
        &::-webkit-scrollbar-thumb:hover {
        background: #2c2c2c51; 
        }
    }
}

