
.user-attend {
    margin-bottom: 2.5rem;
}

.person-info {
    // max-width: ;
}

.alone-or-group {
    margin-bottom: 2.5rem;

    .radio-group {
        legend {
            text-align: center;
            padding-top: 3rem;
        }
    }
}

.gift {
    
}