// Breakpoints
$breakpoint-mobile: 320px;  // Mobile devices
$breakpoint-mobile-big: 480px; // Larger mobile devices
$breakpoint-tablet: 1080px;  // Tablets
$breakpoint-laptop: 1024px; // Laptops
$breakpoint-desktop: 1200px; // Desktops