@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');

:root {

  /* 
    Variables 
  */


  --site-line-height: 1.5;

  /* Color */
  --deep-green: #515D3C;
  /* --white: #f1f1f1; */
  --white: #ffffff;
  --text-dark: #060D17;
  --text-gray: #b2b2b2;

  --gray-light: #efefef;
  --gray: #5C5C5C;


  /* 
    Variables end
  */

  font-family: "Barlow", sans-serif;
  line-height: var(--site-line-height);
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

* {
  font-family: "Barlow", sans-serif;

}

*:focus {
  outline: solid 1px var(--text-dark);
}

h1,h2,h3,h4 {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-bottom: calc(2rem - (1rem * var(--site-line-height)));

}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.85rem;
}
h2 {
  font-size: 2.2rem;
}

ul {
  padding: 0;
  list-style: none;
}

p > sup {
  position: relative;
  top: 4px
}

input {
  font-size: 1.25rem;
}

input::placeholder {
  color: var(--text-gray);
  font-size: 1.25rem;
}

.no-pointer-event {
  pointer-events: none;
  user-select: none;
}

html, body {
  /* overflow: hidden; */
  height: 100%; /* Ensure the elements take the full height of the viewport */
}

body {
  overflow-y: scroll; /* Re-enable vertical scrolling for the body */
  -webkit-overflow-scrolling: auto; /* Disable the rubber banding effect on iOS Safari */
}


/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hidden {
  display: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body::-webkit-scrollbar {
  position: fixed;
  z-index: 9999;
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #515d3c79;
}

body::-webkit-scrollbar-thumb {
  background: #90aa6479;
}

body::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c51;
}

/* body {
  overflow: hidden;
} */

